simple-flow-action/force-app/main/default/flows/Action_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Message</name>
        <label>Get Message</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>HelloAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>greeting</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Action Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action Example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Show_Message</name>
        <label>Show Message</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Greeting_Text</name>
            <fieldText>&lt;p&gt;{!greeting}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Message</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>greeting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
